In [1]:
#library

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('titanic.csv')

In [4]:
data.head(1)

   survived  pclass   sex   age  sibsp  parch  fare embarked deck
0         0       3  male  22.0      1      0  7.25        S  NaN

In [9]:
#working with numeric data
pd.options.display.max_rows = 10

In [6]:
age = data['age']

In [10]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [11]:
type(age)

pandas.core.series.Series

In [12]:
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

In [14]:
age.to_frame().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 1 columns):
age    714 non-null float64
dtypes: float64(1)
memory usage: 7.0 KB

In [15]:
missing_value = age.size - age.count()
missing_value

177

In [16]:
len(age)

891

In [19]:
age.sum(skipna = True)

21205.17

In [20]:
sum(age)

nan

In [23]:
age.sum(skipna=False)

nan

In [24]:
age.mean()

29.69911764705882

In [25]:
age.std()

14.526497332334044

In [26]:
age.min()

0.42

In [27]:
age.max()

80.0

In [28]:
age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [31]:
len(age.unique())

89

In [33]:
age.nunique() #exclude missing value

88

In [35]:
age.nunique(dropna=False)

89

In [36]:
age.value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
         ..
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [39]:
age.value_counts(dropna=False)

NaN       177
 24.00     30
 22.00     27
 18.00     26
 28.00     25
         ...
 36.50      1
 55.50      1
 66.00      1
 23.50      1
 0.42       1
Name: age, Length: 89, dtype: int64

In [42]:
age.value_counts(dropna=False,normalize=True) #relative frequency as percentage

NaN       0.198653
 24.00    0.033670
 22.00    0.030303
 18.00    0.029181
 28.00    0.028058
            ...
 36.50    0.001122
 55.50    0.001122
 66.00    0.001122
 23.50    0.001122
 0.42     0.001122
Name: age, Length: 89, dtype: float64

In [43]:
#calculate normalize

In [46]:
age.value_counts(normalize=False)

24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
         ..
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [47]:
#age 24 has 30 counts

In [48]:
age.count()

714

In [49]:
#total age 714
30/age.count() #normalize value

0.04201680672268908

In [50]:
age.value_counts(normalize=True)

24.00    0.042017
22.00    0.037815
18.00    0.036415
19.00    0.035014
30.00    0.035014
           ...
55.50    0.001401
70.50    0.001401
66.00    0.001401
23.50    0.001401
0.42     0.001401
Name: age, Length: 88, dtype: float64

In [52]:
age.value_counts(normalize=False,bins=3) #bin count

(26.947, 53.473]    345
(0.339, 26.947]     319
(53.473, 80.0]       50
Name: age, dtype: int64

<b> Non - Numeric Data </b>

In [53]:
non_numeric = pd.read_csv('summer.csv')

In [55]:
non_numeric.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [56]:
non_numeric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
Year          31165 non-null int64
City          31165 non-null object
Sport         31165 non-null object
Discipline    31165 non-null object
Athlete       31165 non-null object
Country       31161 non-null object
Gender        31165 non-null object
Event         31165 non-null object
Medal         31165 non-null object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [59]:
athlete = non_numeric['Athlete']

In [60]:
athlete.head()

0         HAJOS, Alfred
1      HERSCHMANN, Otto
2     DRIVAS, Dimitrios
3    MALOKINIS, Ioannis
4    CHASAPIS, Spiridon
Name: Athlete, dtype: object

In [61]:
athlete.shape

(31165,)

In [62]:
athlete.describe()

count               31165
unique              22762
top       PHELPS, Michael
freq                   22
Name: Athlete, dtype: object

In [64]:
athlete.to_frame().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 1 columns):
Athlete    31165 non-null object
dtypes: object(1)
memory usage: 243.6+ KB

In [65]:
athlete.size

31165

In [66]:
athlete.count()

31165

In [68]:
athlete.unique()

array(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios', ...,
       'TOTROV, Rustam', 'ALEKSANYAN, Artur', 'LIDBERG, Jimmy'],
      dtype=object)

In [69]:
len(athlete.unique())

22762

In [70]:
athlete.nunique()

22762

In [73]:
athlete.value_counts()

PHELPS, Michael           22
LATYNINA, Larisa          18
ANDRIANOV, Nikolay        15
SHAKHLIN, Boris           13
ONO, Takashi              13
                          ..
HATOS, Gabor               1
KIM, Myung-Soon            1
KIRALY PICOT, Hajnalka     1
CAGLE, Harold D.           1
DYER, Hector Monroe        1
Name: Athlete, Length: 22762, dtype: int64

In [77]:
athlete.value_counts(sort=True,ascending=True)

DYER, Hector Monroe        1
CAGLE, Harold D.           1
KIRALY PICOT, Hajnalka     1
KIM, Myung-Soon            1
HATOS, Gabor               1
                          ..
ONO, Takashi              13
SHAKHLIN, Boris           13
ANDRIANOV, Nikolay        15
LATYNINA, Larisa          18
PHELPS, Michael           22
Name: Athlete, Length: 22762, dtype: int64